# Executable names
cyberrl
cyberrl-sdl2
cyberrl-ncurses

# Vim swap files
*.swp
*.swo

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Etc.
dub.selections.json
README-SDL.txt
